DB_USER=name
DB_PASSWORD=superpassword
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dbname
REFRESH_TOKEN_SECRET=holaSecreto
ACCESS_TOKEN_SECRET=holaSeecreto2
CLIENT_ADDRESS=http://localhost:3000
STRIPE_KEY=sk_test_.....